@model Subject

<form method="post" enctype="multipart/form-data">
	<div class="p-3 m-5">
		<div class="row">
			<h2 class="text-dark text-center"> Cập nhật thông tin môn học</h2>
		</div>
		<input asp-for="SubjectId" hidden />
		<div class="row">
			<div class="col-6 px-4 m-auto">
				<div class="mb-3 row p-1">
					<label asp-for="SubjectName" class="p-0 "></label>
					<input asp-for="SubjectName" type="text" class="form-control" />
					<span asp-validation-for="SubjectName" class="text-danger"></span>
				</div>
				<div class="mb-3 row p-1">
					<label asp-for="NumberOfPeriod" class="p-0"></label>
					<input asp-for="NumberOfPeriod" type="text" class="form-control" />
					<span asp-validation-for="NumberOfPeriod" class="text-danger"></span>

				</div>
				<div class="mb-3 row p-1">
					<label asp-for="FirstGradeRate" class="p-0"></label>
					<input asp-for="FirstGradeRate" type="textA" class="form-control" />
					<span asp-validation-for="FirstGradeRate" class="text-danger"></span>

				</div>
				<div class="mb-3 row p-1">
					<label asp-for="SecondGradeRate" class="p-0"></label>
					<input asp-for="SecondGradeRate" type="text" class="form-control" />
					<span asp-validation-for="SecondGradeRate" class="text-danger"></span>
				</div>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-4 col-md-3 ">
				<button type="submit" class="btn btn-dark form-control">Cập nhật</button>
			</div>
			<div class="col-4 col-md-3 ">
				<a asp-controller="Subject" asp-action="Index" class="btn btn-secondary border form-control">Trở về</a>
			</div>
		</div>
	</div>
</form>