@model Student

<form method="post" enctype="multipart/form-data">
	<div class="p-3 m-5">
		<div class="row">
			<h2 class="text-dark text-center"> Thêm sinh viên</h2>
		</div>
		<div class="row">
			<div class="col-6 px-4 m-auto">
				<div class="mb-3 row p-1">
					<label asp-for="StudentName" class="p-0 "></label>
					<input asp-for="StudentName" type="text" class="form-control" />
					<span asp-validation-for="StudentName" class="text-danger"></span>
				</div>
				<div class="mb-3 row p-1">
					<label asp-for="Gender" class="p-0"></label>
					<select asp-for="Gender" asp-items="@ViewBag.GenderList" class="form-select">
						<option disabled selected>--Chọn Giới tính--</option>
					</select>
					<span asp-validation-for="Gender" class="text-danger"></span>

				</div>
				<div class="mb-3 row p-1">
					<label asp-for="DOB" class="p-0">Ngày sinh</label>
					<input asp-for="DOB" type="date" class="form-control" />
					<span asp-validation-for="DOB" class="text-danger"></span>

				</div>
				<div class="mb-3 row p-1">
					<label asp-for="Class" class="p-0"></label>
					<input asp-for="Class" type="text" class="form-control" />
					<span asp-validation-for="Class" class="text-danger"></span>
				</div>
				<div class="mb-3 row p-1">
					<label asp-for="Course" class="p-0"></label>
					<input asp-for="Course" type="text" class="form-control" />
					<span asp-validation-for="Course" class="text-danger"></span>
				</div>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-4 col-md-3 ">
				<button type="submit" class="btn btn-dark form-control">Thêm</button>
			</div>
			<div class="col-4 col-md-3 ">
				<a asp-controller="Student" asp-action="Index" class="btn btn-secondary border form-control">Trở về</a>
			</div>
		</div>
	</div>
</form>